# .gitignore for Python projects

# Ignore all .pyc files
*.pyc

# Ignore the virtual environment
venv/

# Ignore the local settings file
*.env

# Ignore instance folder
instance/

*.db


#  Ignore __pycache__ folder
__pycache__/

.gitignore

run.py
